 body {
    font-family: Arial, sans-serif;
    background-image: url("https://raw.githubusercontent.com/NyeinChan85/ProfilePage_NyeinChanKyaw/gh-pages/assets/images/bg.png"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px 0;
    text-align: center;
}

.section-heading {
    font-size: 24px;
    color: #333;
}

.section-content {
    font-size: 18px;
    line-height: 1.5;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust the height as needed */
}
